
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Quora 2.0</a>
    </div>
    <ul class="nav navbar-nav">
      <li>Home</li>
      <li>{{#link-to 'contact'}}Contacts{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}
<hr>
<footer>
    <p>Thank you for using Quora 2.0</p>
  </footer>
