<nav class="navigation-bar is-visible" data-nav-status="toggle">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </nav>
    
{{outlet}}
<hr>
<footer>
    {{#link-to 'contact'}}Click here to contact us!{{/link-to}}
  </footer>
